body{
    background-image: linear-gradient(to top left,rgb(55, 55, 68),black) ;
}

form{
    background-color: rgb(199, 191, 191);
    font-family: 'Montserrat', sans-serif;
    width: 70%; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
}

fieldset{
    padding-top: 10px;
    background-color: whitesmoke;
    border-radius: 7px;
}

.legendaTitulo{
    text-align:center;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 0px 8px 0px 8px;
}

legend{
    font-weight: bolder;
    padding-top: 10px;
}

.campoMaior{
    margin: 20px 10px;
}

input, select{
    margin-bottom: 10px;
}

button{
    position: relative;
    left: 4%;
    margin-top: 10px;
}

@media screen and (max-width: 480px){
    form{
        display: block;
        width: 138%;
    }
    label{
        display: block;
    }
}