body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    /* background: #6C7A89; */
    background-image: linear-gradient(to top left,rgb(50, 150, 163) 5%,black) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 500px;
    height: 300px;
    background: #fff;
    border-radius: 5px;
    padding-top: 8px;
}

img{
    position: relative;
    left: 3em;
}

h1{
    text-align: center;
}

button{
    left: 11rem;
    position: relative;
}

p{
    padding-left: 15px;
}

@media screen and (max-width: 480px){
    button{
        left: 8em;
    }
    img{
        width: 17em;
    }
}